<html>
    <body>
        <video autoplay="true" id="showing_video"></video>
        <script>
            var video = document.querySelector("#showing_video");
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function(stream) {
                        video.srcObject = stream;
                    }).catch(function(error) {
                        console.log("somethins wronge in ", error);
                    });
            }
        </script>
    </body>
</html>